entrypoint = "main.sh"
modules = ["bash", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[deployment]
run = ["bash", "main.sh"]
deploymentTarget = "cloudrun"
